<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="description" content="Radical Sphere is an Indian technology company that specializes in Internet-related services and products. These include online advertising technologies, cloud computing, software, and hardware. Radical Sphere was founded in 2016 by Rohit Jadhav while he was P.G. student at MIT College in Aurangabad">
  <meta name="keywords" content="web applications development, software, javascript application, webapps, management software plugins, Aurangabad, Maharastra">
  <meta name="author" content="Rohit Jadhav">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <link rel="stylesheet" href="css/style.css">

  <title>Radical Sphere</title>
</head>
<body>
{% include cover.html %}
{{ content }}
{% include logos.html %}
</body>
</html>
