<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="description" content="{{site.data.about.description}}">
  <meta name="keywords" content="web applications development, software, javascript application, webapps, management software plugins, Aurangabad, Maharastra">
  <meta name="author" content="{{site.data.about.programmer}}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="css/style.css">

  <title>Radical Sphere</title>
</head>
<body >
{% include cover.html %}
{{ content }}
{% include logos.html %}
</body>
</html>
